* {
  margin: 0;
  padding: 0;
}

.header {
  /* position: absolute; */
  z-index: 999;
}

#header-center {
  height: 100px;
  color: black;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#header-logo,
#header-search,
#header-user {
  display: inline-block;
}

#header-logo {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
}

#header-search {
  display: flex;
  flex: 1;
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
}

#header-search form {
  margin: 0;
  display: flex;
}

#header-search-wrap {
  background-color: white;
  border: 3px solid black;
  border-radius: 25px;
  width: 500px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-search-input {
  padding: 5px 20px;
  border: none;
  outline: none;
  width: 420px;
  height: 100%;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}

#header-search-wrap a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#header-search-wrap a::before {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(../../img/search.png);
  content: "";
  background-size: 40px 40px;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

img {
  width: 100px;
  height: 30px;
}

#navbar {
  width: 80%;
  height: 50px;
  margin: 10px auto;
  text-align: center;
}

#nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

#nav-menu li {
  padding: 0 30px;
}

/* 네비게이션 호버 애니메이션 */
#nav-menu li > a {
  padding: 10px 0;
  display: inline-block;
  position: relative;
}

#nav-menu li > a::after {
  background: none;
  bottom: 0;
  content: "";
  width: 0;
  height: 2px;
  left: 50%;
  position: absolute;
  background-color: #8a2be2;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

#nav-menu li > a:hover::after {
  width: 100%;
  left: 0;
}
/* 네비게이션 애니메이션 종료 */
