<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <header class="header" th:fragment="header">
    <div id="header-center">
      <div id="header-logo" style="text-align: left; float: left; cursor: pointer" onclick="th:href=`@{/}`">
        <a th:href="@{/}">
          <img src="/img/logo_img2.png" alt="" />
        </a>
      </div>
      <div id="header-search">
        <form action="">
          <div id="header-search-wrap">
            <input type="text" name="header-search-input" id="header-search-input" />
            <a id="header-search-button"></a>
          </div>
        </form>
      </div>
      <div id="header-user">
        <a th:href="@{/login}" sec:authorize="isAnonymous()">로그인</a>
        <a th:href="@{/signup}" sec:authorize="isAnonymous()">회원가입</a>
        <a sec:authorize="isAuthenticated()">마이페이지</a>
        <a th:href="@{/logout}" sec:authorize="isAuthenticated()">로그아웃</a>
      </div>
    </div>
    <div id="header-nav">
      <nav id="navbar">
        <ul id="nav-menu">
          <li><a href="">하우징</a></li>
          <li><a href="">보강판</a></li>
          <li><a href="">스위치</a></li>
          <li><a href="">키캡</a></li>
        </ul>
      </nav>
    </div>
  </header>
</html>
