#register {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 80vh;
  height: 90vh;
  padding: 20px;
}

.inputGroup label {
  display: block;
}

.inputGroup input {
  width: 100%;
  height: 20px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 8px;
}
